<div class="format-div">
    <h2 class="animated fadeIn">VieneVienePass</h2>
    <hr>
</div>

<div class="card w-50 mx-auto">
    <img src="../../../assets/img/profile.png" width="100px;" alt="Profile-picture">
    <h5 class="card-title text-center">Juan Frescko</h5>
    <div class="card-body">
        <div class="list-group list-group-flush">
            <div class="list-group-item">
                <div class="d-flex w-50 justify-content-start padding-list">
                    <h6 class="mb-0">Código de Estudiante: <span class="v-property">1231231</span> </h6>
                </div>
            </div>
            <div class="list-group-item">
                <div class="d-flex w-auto justify-content-start padding-list">
                    <h6 class="mb-0">Placa Vehícular: <span class="v-property">FRES-6060</span></h6>
                </div>
            </div>
            <div class="list-group-item">
                <div class="d-flex w-50 justify-content-start padding-list">
                    <h6 class="mb-0">Teléfono: <span class="v-property">3332244351</span> </h6>
                </div>
            </div>
            <div class="list-group-item">
                <div class="d-flex w-50 justify-content-start padding-list">
                    <h6 class="mb-0">Carrera: <span class="v-property">Ingeniería informática</span> </h6>
                </div>
            </div>
            <div class="list-group-item">
                <div class="d-flex w-50 justify-content-start padding-list">
                    <h6 class="mb-0">Correo Electrónico: <span class="v-property">frescko@alumnos.udg.mx</span> </h6>
                </div>
            </div>
        </div>
    </div>
    <h5 class="text-center">Código QR</h5>
</div>