<h1 class="animated fadeIn fast">Contácto</h1>
<hr>

<div class="card mb-2 bg-light fadeIn animated" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="../../../assets/img/logo.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <ul>
                    <li>
                        <img src="../../../assets/img/fb-icon.png" alt="fb-icon" width="20px">
                        <b> Facebook:</b> VieneVieneUDG!
                    </li>
                    <br>
                    <li>
                        <img src="../../../assets/img/cucei-icon.png" alt="fb-icon" width="20.5px">
                        <b> Correo Electrónico:</b> vvudg@cucei.com.mx
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>