h2{
    margin: none;
    text-align: center;
}

/* .form-center {
   /* padding-left: 134px; */
   /* cursor:pointer;
   display:block;
   width: auto;
   margin: 0 auto; */


.format-div {
    padding: 3px;
    margin: 1px;
}